<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/toastr.min.css">
    <link rel="stylesheet" href="../css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="../css/front.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<!--    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>-->
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <!-- <script type="text/javascript" src="../js/houtai.js"></script> -->
    <script type="text/javascript" src="../js/vue.js"></script>
    <script src="../js/bootstrap-datetimepicker.js"></script>
    <script src="../js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../js/toastr.min.js"></script>
    <script src="../js/moment.js"></script>
    <script src="../js/distpicker.js"></script>
    <link rel="shortcut icon" href="../img/pang.ico" type="image/x-icon" />
    <!--制作的图标，使用href关联，仅仅需要更改href的内容  -->
</head>
<body>
<div class="all" id="app" v-cloak>
    <!--顶部-->
    <div class="top-head">
        <div class="top-head-collect">
            <a href="javascript:" @click="collectWeb">
                ❤收藏Rosette(Ctrl + D)
            </a>
        </div>
        <div class="top-head-right">
            <a v-show="!LoginStatus" href="/front_Login">你好，请登录</a>
            <a v-show="LoginStatus" href="javascript:">你好，{{ userName }}</a>
            <a href="/front_Register">注册</a>
            <a href="/my_order">我的订单</a>
            <a href="/shopping">购物车</a>
            <a href="/updatePassword">修改密码</a>
            <a href="/myPersonInfo/selectPersonInfo">我的信息</a>
        </div>
    </div>
    <!--分割线-->
    <HR style="width:100%;color:#987cb9; size:1px;position: relative;float: left">
    <!--导航栏-->
    <div class="top-navigation">
        <div class="top-navigation-icon">
            <a href="/front_Home">
                <img src="/img/flowerlove1.png">
            </a>
        </div>
        <div class="top-navigation-gif">
            <span><img src="/img/0.gif"></span>
        </div>
        <div class="top-navigation-nav">
            <a href="javascript:void(0)" @click="selectAllClassSub('鲜花')">鲜花</a>
            <a href="javascript:void(0)" @click="selectAllClassSub('永生花')">永生花</a>
            <a href="javascript:void(0)" @click="selectAllClassSub('礼品')">礼品</a>
        </div>
        <div class="top-navigation-select">
            <!--v-model="fuzzySelectData" @keyup.enter="fuzzySelect(firstPage)"-->
            <input class="selectBox-input" type="text" name="select" placeholder="更多优惠商品等你来选购" maxlength="40" @input="selectInputLimit" v-model="keywordData">
            <button class="selectBtn">
                <img src="../img/select.png" class="selectBtn-icon" @click="keywordSearch">
            </button>
        </div>
    </div>

    <div class="all-result">
        <p>填写订单信息</p>
    </div>
    <!--分割线-->
    <HR style="margin-top: -3px;">

    <div v-show="!LoginStatus" class="none-Login">
        <div>
            <img src="/img/sorry.png">
            <p>暂无订单信息，</p>
            <a href="/front_Login">请先登录</a>
        </div>
    </div>

    <div v-show="LoginStatus" class="table-modal table-form">
        <form>
            <div class="form-group">
                <label for="name"><span style="color:red;">* </span>收货人</label>
                <input type="text" class="form-control" id="name" aria-describedby="emailHelp" v-model="consigneeName" @focus="dateBlur">
            </div>
            <div class="form-group">
                <label for="phone"><span style="color:red;">* </span>联系电话</label>
                <input type="text" class="form-control" id="phone" v-model="consigneePhone" maxlength="11" @focus="dateBlur">
            </div>
            <div class="form-group" >
                <label><span style="color:red;">* </span>收货地址</label>
                <div class="shipping-address" data-toggle="distpicker">
                    <select v-model="province" data-province="---- 选择省 ----" @focus="dateBlur"></select>
                    <select v-model="city" data-city="---- 选择市 ----" @focus="dateBlur"></select>
                    <select v-model="district" data-district="---- 选择区 ----" @focus="dateBlur"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="address">详细地址</label>
                <input type="text" class="form-control" id="address" v-model="detailedAddress" @focus="dateBlur">
            </div>
            <div class="form-group">
                <label for="subscriberName"><span style="color:red;">* </span>订购人</label>
                <input type="text" class="form-control" id="subscriberName" v-model="subscriberName" @focus="dateBlur">
            </div>
            <div class="form-group">
                <label for="subscriberPhone"><span style="color:red;">* </span>订购人电话</label>
                <input type="text" class="form-control" id="subscriberPhone" v-model="subscriberPhone" maxlength="11" @focus="dateBlur">
            </div>
            <div class="form-group">
                <label for="deliveryDate"><span style="color:red;">* </span>送达日期</label>
                <div class="form-group" id="deliveryDatepicker" >
                    <div class='input-group date' >
                        <input type='text' class="form-control" id="deliveryDate" v-model="deliveryDate" placeholder="选择时间" readonly="true" @focus="dateBlur"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="greetingMessage">贺卡留言</label>
                <textarea type="text" class="form-control" id="greetingMessage" v-model="greetingMessage" maxlength="200" @input="recordWordsNum" @focus="dateBlur"></textarea>
                <small>最多200字，您还可以输入{{ 200-wordsNum }}字。</small>
            </div>
            <div class="form-group">
                <label>送货清单</label>
                <div v-for="userGoods in userGoodsList" class="delivery-list">
                    <img :src="userGoods.goodsImageList">
                    <p>{{ userGoods.goodsName }}</p>
                    <p class="delivery-p" style="color: red;font-weight: bold">￥{{ userGoods.goodsPrice }}</p>
                    <p class="delivery-p" style="font-size: 16px;font-weight: bold">x{{ userGoods.goodsSum }}</p>
                </div>
            </div>
        </form>
        <div class="save-order">
            <div class="save-orderParent">
                <div>
                    <span>应付金额：</span>
                    <span style="color: red;font-weight: bold;font-size: 20px;">￥{{ shoppingCartPriceSum }}</span>
                </div>
            </div>
            <div class="save-orderParent">
                <div>
                    <span style="margin-right: 10px;">寄送至：{{province + city + district + detailedAddress}}</span>
                    <span>收货人：{{ consigneeName + &nbsp; + consigneePhone}}</span>
                </div>
            </div>
            <button class="btn btn-danger" @click="submitOrder">提交订单</button>
        </div>
    </div>
    <!--分割线-->
    <HR>
</div>
<script type="text/javascript">
    /* 请求拦截 */
    axios.interceptors.request.use(
        config => {
            if (localStorage.getItem("token") != null) {
                config.headers["token"] = localStorage.getItem("token");
            }

            return config;
        },
        err => Promise.reject(err)
    );
    axios.defaults.headers.post['Content-Type'] = 'application/json';
    window.onload = function () {
        if (localStorage.getItem("token") != null) {
            console.info(localStorage.getItem("token"));
            vm.getUserIDByToken();
        }
    }
    var today = new Date();
    var year = today.getFullYear();
    var month = today.getMonth() + 1;
    var day = today.getDate()+1;
    var start = year + "-" + month+  "-" + day;


    var vm = new Vue({
        el: "#app",
        data: {
            consigneeName: "",
            consigneePhone: "",
            userName: "",
            userPhone: "",
            consigneeAddress: "",
            detailedAddress: "",
            province: "",
            city: "",
            district: "",
            subscriberName: "",
            subscriberPhone: "",
            deliveryDate: "",
            greetingMessage: "",
            LoginStatus: false,
            userID: "",
            selectAllClassData: "",
            allClassList: [],
            goodsImageList: [],
            shoppingCartList: [],
            shoppingCartID: "",
            goodsName: "",
            goodsPrice: "",
            goodsSum: 0,
            checkActive: false,
            checksIdArray: [],
            checks: [],
            checksIdArrayLen: 0,
            thumbnail: [],
            subtotal: [],
            deleteShoppingCartID: "",
            shoppingCartPriceSum: 0,
            goodsSumList: [],
            goodsInventory: "",
            goodsInventoryList: [],
            shoppingCartIDList: [],
            userGoodsList: [],
            wordsNum: 0,
            goodsIDList: [],
            goodsIDSumList: [],
            keywordData: "",
        },
        methods: {
            getUserIDByToken() {
                axios.post('/getUserIDByToken', {
                }).then(function (data) {
                    vm.userID = data.data;
                    console.info(vm.userID)
                    if (vm.userID !== "") {
                        vm.LoginStatus = true;
                        vm.getUserInfo();
                        vm.getShoppingCartIDList();
                    }

                })
            },
            getUserInfo() {
                  axios.post('/front/getUserInfo', {
                      userID: vm.userID
                  }).then(function (data) {
                      vm.userName = data.data.userName;
                      console.info("userName:" + vm.userName)
                  })
            },
            keywordSearch() {
                window.open("/goodsBySelectData?selectData=" + vm.keywordData);
            },
            submitOrder() {
                axios.post('/order/checkGoodsListInventory', {
                    goodsIDList: vm.goodsIDList,
                    goodsIDSumList: vm.goodsIDSumList,
                }).then(function (data) {
                    if (data.data.success === true) {
                        vm.deliveryDate = $("#deliveryDatepicker").find("input").val();
                        console.info(vm.deliveryDate)
                        if (vm.deliveryDate !== "" && vm.consigneeName !== "" && vm.consigneePhone !== "" &&
                            vm.province !== "" && vm.city !== "" && vm.district !== "" && vm.subscriberName !== ""
                            && vm.subscriberName !== "") {
                            vm.consigneeAddress = vm.province + vm.city + vm.district + vm.detailedAddress;
                            axios.post('/order/submitOrder', {
                                userID: vm.userID,
                                goodsIDList: vm.goodsIDList,
                                goodsIDSumList: vm.goodsIDSumList,
                                consigneeName: vm.consigneeName,
                                consigneePhone: vm.consigneePhone,
                                consigneeAddress: vm.consigneeAddress,
                                subscriberName: vm.subscriberName,
                                subscriberPhone: vm.subscriberPhone,
                                deliveryDate: vm.deliveryDate,
                                greetingMessage: vm.greetingMessage,
                                orderPriceSum: vm.shoppingCartPriceSum,
                            }).then(function (data) {
                                if (data.data.success === true) {
                                    window.location.href = "/my_order"
                                } else {
                                    toastr.options = {
                                        timeOut: 1000,
                                        positionClass: "toast-top-center",
                                    };
                                    toastr.error(data.data.msg);
                                }
                            })
                        } else if (vm.deliveryDate === "") {
                            toastr.options = {
                                timeOut: 1000,
                                positionClass: "toast-top-center",
                            };
                            toastr.error("送达日期不能为空");
                        } else if (vm.consigneeName === "") {
                            toastr.options = {
                                timeOut: 1000,
                                positionClass: "toast-top-center",
                            };
                            toastr.error("收货人不能为空");
                        } else if (vm.consigneePhone === "") {
                            toastr.options = {
                                timeOut: 1000,
                                positionClass: "toast-top-center",
                            };
                            toastr.error("联系电话不能为空");
                        } else if (vm.province === "" || vm.city === "" || vm.district === "") {
                            toastr.options = {
                                timeOut: 1000,
                                positionClass: "toast-top-center",
                            };
                            toastr.error("收货地址不正确");
                        } else if (vm.subscriberName === "") {
                            toastr.options = {
                                timeOut: 1000,
                                positionClass: "toast-top-center",
                            };
                            toastr.error("订购人不能为空");
                        } else if (vm.subscriberPhone === "") {
                            toastr.options = {
                                timeOut: 1000,
                                positionClass: "toast-top-center",
                            };
                            toastr.error("订购人电话不能为空");
                        }

                    } else {
                        toastr.options = {
                            timeOut: 1000,
                            positionClass: "toast-top-center",
                        };
                        toastr.error(data.data.msg)
                    }
                })

            },
            getShoppingCartIDList() {
                var url = location.search;
                if (url.indexOf("?") !== -1) {
                    var str = url.substring(1);
                    vm.shoppingCartIDList = str.split("=")[1];
                    vm.shoppingCartIDList = vm.shoppingCartIDList.split(",");
                    vm.getGoodsList();
                }

            },
            getGoodsList() {
                axios.post('/order/getGoodsList', {
                    shoppingCartIDList: vm.shoppingCartIDList,
                }).then(function (data) {
                    vm.shoppingCartPriceSum = 0;
                    vm.userGoodsList = data.data;
                    for (var i = 0; i < vm.userGoodsList.length; i++) {
                        vm.userGoodsList[i].goodsImageList = vm.userGoodsList[i].goodsImageList.split(",")[0];
                        vm.shoppingCartPriceSum += vm.userGoodsList[i].goodsPrice * vm.userGoodsList[i].goodsSum;
                        vm.goodsIDList.push(vm.userGoodsList[i].goodsID);
                        vm.goodsIDSumList.push(vm.userGoodsList[i].goodsSum);
                    }

                })
            },
            addGoodsSum(shoppingCartID) {
                if (vm.goodsSumList[shoppingCartID] < vm.goodsInventoryList[shoppingCartID]) {
                    vm.goodsSumList[shoppingCartID]++;
                } else {
                    toastr.options = {
                        timeOut: 1000,
                        positionClass: "toast-top-center",
                    };
                    toastr.error('库存不足，仅剩' + vm.goodsInventoryList[shoppingCartID] + '件');
                }
            },
            reduceGoodsSum(shoppingCartID) {
                if (vm.goodsSumList[shoppingCartID] > 1) {
                    vm.goodsSumList[shoppingCartID]--;
                } else {
                    toastr.options = {
                        timeOut: 1000,
                        positionClass: "toast-top-center",
                    };
                    toastr.error('数量不能小于1');
                }
            },
            deleteShoppingCart(deleteShoppingCartID) {
                axios.post('/shoppingCart/deleteShoppingCart', {
                    shoppingCartID: deleteShoppingCartID,
                }).then(function (dat) {
                    // 操作成功弹出框
                    toastr.options = {
                        timeOut: 1000,
                        positionClass: "toast-top-center",
                    };
                    toastr.success('删除数据成功');
                    vm.getUserShoppingCart();
                })
            },
            getShoppingCartID(shoppingCartID) {
                vm.deleteShoppingCartID = shoppingCartID;
            },
            checkAll(){
                if(this.checkActive){
                    this.checkActive = false;
                    vm.shoppingCartList.forEach( ele => {
                        vm.checks[ele.shoppingCartID] = false;
                        vm.checksIdArray.pop(ele.shoppingCartID);
                    });
                } else{
                    this.checkActive = true;
                    vm.shoppingCartList.forEach( ele => {
                        vm.checks[ele.shoppingCartID] = true;
                        vm.checksIdArray.push(ele.shoppingCartID);
                    });
                }
                vm.checksIdArrayLen = vm.checksIdArray.length;
            },
            checkOne(shoppingCartID) {
                if (!vm.checks[shoppingCartID]) { //入栈
                    vm.checks[shoppingCartID] = true;
                    vm.checksIdArray.push(shoppingCartID);
                }else {
                    vm.checks[shoppingCartID] = false;
                    vm.checksIdArray.pop(shoppingCartID);
                }
                vm.checksIdArrayLen = vm.checksIdArray.length;
            },
            getUserShoppingCart() {
                axios.post('/shoppingCart/getUserShoppingCart', {
                    userID: vm.userID,
                }).then(function (data) {
                    console.info(data.data)
                    vm.shoppingCartList = data.data;
                    vm.goodsSum = vm.shoppingCartList.length;
                    for (var i = 0; i < vm.shoppingCartList.length; i++) {
                        vm.shoppingCartList[i].goodsImageList = vm.shoppingCartList[i].goodsImageList.split(",")[0];
                    }
                    vm.shoppingCartList.forEach( ele => {
                        vm.checks[ele.shoppingCartID] = false;
                        vm.thumbnail[ele.shoppingCartID] = ele.goodsImageList.split(',')[0];
                        vm.subtotal[ele.shoppingCartID] = parseInt(ele.goodsPrice) * parseInt(ele.goodsSum);
                        vm.goodsSumList[ele.shoppingCartID] = parseInt(ele.goodsSum);
                        vm.goodsInventoryList[ele.shoppingCartID] = ele.goodsInventory;
                    });
                })
            },

            collectWeb() {
                alert("快捷键Ctrl + D收藏Rosette")
            },
            /*分页按钮*/
            btnClick(data) {
                if (data != vm.pageNum) {
                    vm.pageNum = data;
                    vm.selectAllClass(vm.pageNum);
                }
            },
            selectInputLimit() {
                vm.selectKeywords = vm.selectKeywords.replace(/\s+/g,'')
            },
            test() {
                $('#deliveryDatepicker .input-group.date').datetimepicker({
                    language: 'zh-CN',
                    todayHighlight: true,
                    autoClose: true,
                    startDate: start,
                    minuteStep: 1,
                    clearBtn: true,
                    pickerPosition: 'top-left',
                });
            },
            recordWordsNum() {
                vm.wordsNum = vm.greetingMessage.length;
            },
            dateBlur() {
                vm.deliveryDate = $("#deliveryDatepicker").find("input").val();
            }

        },
        mounted() {
            this.test();
        },


    })
</script>
</body>
</html>